<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
	
		
		.movie-card {
			border: 1px solid #ccc;
			padding: 10px;
			margin: 10px;
			display: flex;
			align-items: center;
		}

		.movie-image {
			width: 100px;
			height: auto;
			margin-right: 20px;
		}

		.movie-title {
			font-size: 1.2em;
			font-weight: bold;
		}
	</style>
	<title>Movie Example</title>
</head>

<body>
	<div class="main-warrap">
		Movie List
		<div class="create Button">
			<a href="/moviecreate">생성</a>
		</div>
	</div>
	
	<div th:each="movie : ${movies}" class="movie-card">
		<img th:src="@{${movie.movie_pictrue}}" alt="Car Headlight" class="movie-image">
		<div class="movie-info">
			<div class="movie-title" th:text="${movie.movie_name}">Movie Title</div>
			<div class="movie-description" th:text="${movie.movie_details}"></div>
		</div>
	</div>
</body>

</html>