<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User List</title>
</head>

<body>
	<h1>User List</h1>
	<table border="1">
		<thead>
			<tr>
				<th>유저 번호</th>
				<th>이름</th>
				<th>ID</th>
				<th>주소</th>
				<th>전화번호</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="detailuser : ${users}">
				<th th:text="${detailuser.id}">ID</th>
				<td th:text="${detailuser.username}">Purchase Date</td>
				<td th:text="${detailuser.id}">Client Name</td>
				<td th:text="${detailuser.address}">Item Name</td>
				<td th:text="${detailuser.phone_number}">Total Amount</td>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>